/* General Footer Styling */
.footer {
    background-color: white !important; /* Changed to white */
    padding-top: 20px !important;
}

/* Bold, Full-Width Separation Line */
.footer-line {
    border-top: 3px solid #000;
    margin: 0;
    width: 100%;
}

/* Footer Content */
.footer-content {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer Links */
footer a {
    text-decoration: none;
    color: #070a0d;
}

footer a:hover {
    color: #1d59b2;
    transform: scale(1.05);
}

/* Social Icons */
footer .social-icons a {
    font-size: 1.5rem;
}

.me-2 {
    font-size: xx-large !important;
}

.me-3 {
    font-size: x-large !important;
    font-weight: 400 !important;
}

/* Muted Text */
.text-muted {
    font-size: 25px !important;
    font-weight: bolder !important;
    color: #070a0d;
}
